<section class="card">
    <h1>Register User</h1>
    <form (ngSubmit)="register()">
        <input type="text" name="name" placeholder="Name" [(ngModel)]="user.name" required>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email" required>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" required>
        <input type="text" name="city" placeholder="City" [(ngModel)]="user.city" required>
        <button type="submit">Register</button>
    </form>
</section>
